body {
            background-color: #f0f7ff;
            font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }
        .header-blue {
            background-color: #004085;
        }
        .table-row-even {
            background-color: #f9f9f9;
        }
        .border-light {
            border-color: #e2e8f0;
        }